.header {
    text-align: center;
  }
  .header span {
    padding-right: 5px;
  }
  .cards-wrapper {
    margin-top: 50px;
  }
  .card-container {
    perspective: 1200px;
  }
  .card {
    margin: 0 auto;
    height: 200px !important;
    width: 200px !important;
    max-width: 100%;
    position: relative;
    border-radius: 25px;
    transition: all 1s ease;
    transform-style: preserve-3d;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
  }
  .rotated {
    transform: rotateY(-180deg);
  }
  .card-contents {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    /* content: url("../../assets/images/brownPIc1.png"); */
  }
  .card-contents h2, .card-contents p {
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  }
  .card-contents h2 {
    font-size: 3em;
    margin: 0 auto;
  }
  .card-contents hr {
    width: 50%;
    margin: 20px auto;
  }
  .card-contents p {
    margin: 0 auto;
  }
  .card-depth {
    transform: translateZ(100px) scale(0.98);
    perspective: inherit;
  }
  .card-frontThree {
    /* background: linear-gradient(to top left, #3a6186, #89253e); */
    background: white;
    border-color: black;
    border-style: solid;
    transform-style: preserve-3d;
    /* content: url("../../assets/images/brownPIc1.png"); */
    content: url("../../assets/images/brown11.png");
  }

  
  .card-frontTwo {
    /* background: linear-gradient(to top left, #3a6186, #89253e); */
    background: white;
    border-color: black;
    border-style: solid;
    transform-style: preserve-3d;
    /* content: url("../../assets/images/brownPIc1.png"); */
    content: url("../../assets/images/180New.png");
  }

  .card-frontFour {
    /* background: linear-gradient(to top left, #3a6186, #89253e); */
    background: white;
    border-color: black;
    border-style: solid;
    transform-style: preserve-3d;
    /* content: url("../../assets/images/brownPIc1.png"); */
    content: url("../../assets/images/vcInclusionLab.jpeg");
  }

  .card-frontOne {
    /* background: linear-gradient(to top left, #3a6186, #89253e); */
    background: white;
    border-color: black;
    border-style: solid;
    transform-style: preserve-3d;
    /* content: url("../../assets/images/brownPIc1.png"); */
    content: url("../../assets/images/iibaPic.jpeg");
  }

  .card-frontFive {
    /* background: linear-gradient(to top left, #3a6186, #89253e); */
    background: white;
    border-color: black;
    border-style: solid;
    transform-style: preserve-3d;
    /* content: url("../../assets/images/brownPIc1.png"); */
    content: url("../../assets/images/ucbe.jpg");
  }
  .card-back {
    transform: rotateY(180deg);
    background: white;
    transform-style: preserve-3d;
  }

  #logoWrapper {
      margin-top: 50px;
  }
  