@media screen and (max-width: 500px) {
    /* #gmailPic {
        width: 50px;
        height: 50px;
    } */

    #innerGPic {
        width: 65px;
        height: 50px;
    }

    #innerLPic {
        width: 50px;
        height: 50px;
    }

    #innerFPic {
        width: 50px;
        height: 50px;
    }

    #innerGitPic {
        width: 75px;
        height: 75px;
    }

    footer {
        height: 100px;
    }

  }

  @media screen and (max-width: 1375px) {
      #upperRow {
         display: none;
      }

      #secondRow {
          visibility: visible;
      }
  }

  @media screen and (max-width: 475px) {
    
}